@model QuestionnaireViewModel
@using coffee_shop_backend.Utility
@{
    var basicInfo = Model.Info;
    bool isContent = ViewBag.Tab == "1";
    bool isEditMode = ViewBag.IsEditMode is bool? ViewBag.IsEditMode :false;
    QuestionnaireViewModel model = Model;
}
@section Scripts {
    <script type="text/javascript" src="~/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
        selector: '#HeadText #FooterText',
        language:'zh_TW',
        height: 300,
        skin: 'lightgray',
        menubar: false,

        content_style: 'body { line-height: 1.5 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important; } p { margin-top: 0 !important; margin-bottom: 0 !important; }',
        fontsize_formats: "8pt 10pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 28pt 32pt 36pt 48pt 60pt 72pt",
        font_formats: "微軟正黑體=微軟正黑體; 微軟正黑體 Light=微軟正黑體 Light; 新細明體=新細明體; 細明體=細明體; 標楷體=標楷體; Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats;",
        default_link_target: '_blank',
        target_list: false,
        link_title: false,
        paste_enable_default_filters: false,
        
        plugins: 'advlist lists link code autosave emoticons paste table textcolor',
        toolbar: 'restoredraft | undo redo | fontsizeselect fontselect | bold italic underline forecolor backcolor | ' +
        'alignleft aligncenter alignright | emoticons link table |' +
        '| bullist numlist | code | '
        });

        $('input[name="Question.AnswerType"]').change(function() {
            var value = $('input[name="Question.AnswerType"]:checked').val();
            if (value == @((int)AnswerTypeEnum.SingleLine) || value == @((int)AnswerTypeEnum.MultiLine) || value == @((int)AnswerTypeEnum.Email)){
                $("[id$=isFile]").hide();
                $("[id$=isText]").show();
                $("[id$=isSelect]").hide();
            }
            else if (value == @((int)AnswerTypeEnum.SingleSelect) || value == @((int)AnswerTypeEnum.MultiSelect)){
                $("[id$=isFile]").hide();
                $("[id$=isText]").hide();
                $("[id$=isSelect]").show();
            }
            else if (value == @((int)AnswerTypeEnum.File)){
                $("[id$=isFile]").show();
                $("[id$=isText]").hide();
                $("[id$=isSelect]").hide();
            }
            else if (value == @((int)AnswerTypeEnum.Date) || value == @((int)AnswerTypeEnum.Address)){
                $("[id$=isFile]").hide();
                $("[id$=isText]").hide();
                $("[id$=isSelect]").hide();
            }
        });

        $('#myForm').submit(function(event) {
          event.preventDefault(); // 防止表單直接提交

          // 在這裡執行你想要的操作

          // 如果需要提交表單，可以使用以下方法：
          // $(this).submit();
        });
    </script>
}

<h1>@(Model.Info.Id == Guid.Empty ? "新增" : "修改")問卷</h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link @(isContent?"":"active")" id="nav-base-tab" data-bs-toggle="tab" data-bs-target="#nav-base" type="button" role="tab" aria-controls="nav-base" aria-selected="@(!isContent)">基本資料</button>
    <button class="nav-link @(isContent?"active":"")" id="nav-column-tab" data-bs-toggle="tab" data-bs-target="#nav-column" type="button" role="tab" aria-controls="nav-column" aria-selected="@(isContent)">欄位內容</button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade @(isContent?"":"show active")" id="nav-base" role="tabpanel" aria-labelledby="nav-base-tab">
      <div class="container">
    <div class="row py-2">
        @using (Html.BeginForm("Form", "Questionnaire", FormMethod.Post, new { enctype = "multipart/form-data" })){
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Info.Id, new { @class = "form-control", @readonly = "true" })

            <div>
                <label for="Info_Caption" class="col-form-label">標題</label>
                <div class="row g-2">
                    <div class="col col-lg-10">
                        @Html.TextBoxFor(model => model.Info.Caption, new { placeholder = "請輸入標題", @class = "form-control"})
                    </div>
                </div>
                <small class="text-info mt-2">註 : 文字上限300 字</small>
                @Html.ValidationMessageFor(model => model.Info.Caption, "", new { @class = "text-danger" })
            </div>

            <div>
                <label for="Info_Sort" class="col-form-label">排序</label>
                <div class="row g-2">
                    <div class="col col-lg-10">
                        @Html.TextBoxFor(model => model.Info.Sort, new { placeholder = "請輸入排序", @class = "form-control", type = "number"})
                    </div>
                </div>
                <small class="text-info mt-2">註 : 限填不大於100數字</small>
                @Html.ValidationMessageFor(model => model.Info.Sort, "", new { @class = "text-danger" })
            </div>
            
            <div>
                <label for="Info_IsEnabled" class="col-form-label">啟用狀態</label>
                <div class="row g-2">
                    <div class="col col-lg-10">
                        @Html.CheckBoxFor(model => model.Info.IsEnabled)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Info.Sort, "", new { @class = "text-danger" })
            </div>


            <div>
                <label for="Info_StartDate" class="col-form-label">開放填寫日期</label>
                <div class="row g-2">
                    <div class="col col-lg-10">
                        @Html.TextBoxFor(model => model.Info.StartDate, new { placeholder = "請輸入開始日期", @class = "form-control", type = "date"})
                        ～
                        @Html.TextBoxFor(model => model.Info.EndDate, new { placeholder = "請輸入結束日期", @class = "form-control", type = "date"})
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Info.StartDate, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.Info.EndDate, "", new { @class = "text-danger" })
            </div>

            <div>
                <label for="Info_HeadText" class="col-form-label">表頭</label>
                <div class="row g-2">
                    <div class="col col-lg-10">
                        @Html.TextAreaFor(model => model.Info.HeadText, new { placeholder = "請輸入表頭", @class = "form-control", maxlength = 2000, rows = 5 })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Info.HeadText, "", new { @class = "text-danger" })
            </div>

            <div>
                <label for="Info_FooterText" class="col-form-label">表尾</label>
                <div class="row g-2">
                    <div class="col col-lg-10">
                        @Html.TextAreaFor(model => model.Info.FooterText, new { placeholder = "請輸入表尾", @class = "form-control", maxlength = 2000, rows = 5 })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Info.FooterText, "", new { @class = "text-danger" })
            </div>

            <div>
                <input class="btn btn-danger" type="reset" value="清除">
                <input class="btn btn-secondary" type="submit" value="確定儲存">
            </div>
        }
        </div>
    </div>
  </div>
  <div class="tab-pane fade @(isContent?"show active":"")" id="nav-column" role="tabpanel" aria-labelledby="nav-column-tab">
      <h4>新增題目</h4>
       <label for="Question_Caption" class="col-form-label">題目</label>
       <div class="row g-2">
            <div class="col col-lg-10">
                @Html.TextBoxFor(model => model.Question.Caption, new { placeholder = "請輸入題目", @class = "form-control"})
            </div>
        </div>
        <label for="Question_IsNeedAnswer" class="col-form-label">是否必填</label>
        <div class="row g-2">
            <div class="col col-lg-10">
                @Html.CheckBoxFor(model => model.Question.IsNeedAnswer)
            </div>
        </div>
        <label for="Question_IsIncludedExport" class="col-form-label">是否列入匯出表單</label>
        <div class="row g-2">
            <div class="col col-lg-10">
                @Html.CheckBoxFor(model => model.Question.IsIncludedExport)
            </div>
        </div>
        <label for="Question_AnswerType" class="col-form-label">答案類型</label>
        <div>
            @for (int q = 0; q < Model.Question.AnswerType.Count(); q++)
            {
                var item = Model.Question.AnswerType[q];
                @Html.RadioButtonFor(model => model.Question.AnswerType, item.Value, new { @class = "form-check-input", @id = "Question_AnswerType" + q })
                <label class="form-check-label" for="Question.AnswerType@(q)">@item.Text</label>
            }
        </div>
        <div id="isSelect">
            @using (Html.BeginForm("AddToList", "Questionnaire", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <label for="Question_NewOption" class="col-form-label">答案選項</label>
                @Html.TextBoxFor(model => model.Question.NewOption.Text, "", new { @class = "form-control"})
                @Html.DropDownListFor(model => model.Question.NewOption.MemoType, Model.Question.MemoTypes , new {@class = "form-control"})
                @Html.HiddenFor(model => model.Question.NewOption.Sort, new { @class = "form-control", @readonly = "true" })
                <input class="btn btn-secondary" type="submit" value="@(isEditMode?"儲存變更":"加入清單")">
            }
            <table class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>選項</th>
                        <th>備註</th>
                        <th>排序</th>
                        <th>功能列表</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Question.AnswerOptions != null && Model.Question.AnswerOptions.Any()){
                        foreach(var item in Model.Question.AnswerOptions)
                        {
                            <tr>
                                <td>@item.Text</td>
                                <td>@(EnumHelper.GetDescription((MemoTypeEnum)item.MemoType))</td>
                                <td>@item.Sort</td>
                                <td><a class="btn btn-primary" href="@Url.Action("EditSelectOption","Questionnaire", new { Sort = item.Sort })">編輯</a><a class="btn btn-primary" href="@Url.Action("DeleteSelectOption","Questionnaire", new { Sort = item.Sort })">刪除</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="isFile">
            <label for="Question_FileSizeLimit" class="col-form-label">檔案大小限制</label>
            @Html.TextBoxFor(model => model.Question.FileSizeLimit, new { placeholder = "請輸入檔案大小限制", @class = "form-control", type = "number"})
        </div>
        <div id="isText">
            <label for="Question_WordLimit" class="col-form-label">文字長度限制</label>
            @Html.TextBoxFor(model => model.Question.WordLimit, new { placeholder = "請輸入文字長度限制", @class = "form-control", type = "number"})
        </div>
    </div>
</div>



