@model List<RecordViewModel>
@{
    ViewData["Title"] = "Record";
}

<h1>Record</h1>

@if (Model != null && Model.Any()){
     foreach (var item in Model)
            {
                <div class="formsItem clearfix">
                    <div class="col-form-label formsLabel">
                        @item.FieldName
                        @if (item.IsRequired)
                        {
                            <abbr title="必填欄位" class="text-nowrap ms-1">必填</abbr>
                        }
                    </div>
                    <div class="formsGroup">
                        <div class="row g-2">
                            <div class="col-md-10">
                                @if (item.FieldType == (byte)AnswerTypeEnum.File)
                                {
                                    if (!string.IsNullOrWhiteSpace(item.Value))
                                    {
                                        string[] fileNames = item.Value.Split(';');
                                        string fileName = fileNames[0];
                                        string newFileName = fileNames[1];

                                        //<a href="@(Path.Combine(fileFolder,newFileName))" target="_blank">@fileName</a>
                                    }
                                }
                                else
                                {
                                    @item.Value @(string.IsNullOrEmpty(item.MemoValue) ? "" : ":"+ item.MemoValue)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
                       
 }