@model IEnumerable<Document>

@{
    
}

<h1>問卷列表</h1>

<table class="table table-striped table-bordered table-hover table-responsive" id="dataTable" width="100%" cellspacing="0">
    <thead class="thead-light">
        <tr>
            <th scope="col">標題</th>
            <th scope="col">開放填寫日期</th>
            <th scope="col">排序值</th>
            <th scope="col">點閱率</th>
            <th scope="col">修改人員</th>
            <th scope="col">異動日期</th>
            <th scope="col">執行動作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()){
            foreach(var item in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Form","Document", new {Id = item.Id})">@item.Caption</a></td>
                    <td>@item.StartDate.ToString("yyyy/MM/dd")</td>
                    <td>@item.Sort</td>
                    <td>@item.Hits</td>
                    <td>@(item.Updator == null ? item.Creator : item.Updator)</td>
                    <td>@(item.UpdateDate.HasValue ? item.UpdateDate.Value.ToString("yyyy-MM-dd") : item.CreateDate.ToString("yyyy-MM-dd"))</td>
                    <td><a href="@Url.Action("ExportData","Document", new {Id = item.Id})" role="button">匯出填寫清單</a></td>
                </tr>
            }
        }
    </tbody>
</table>

<a href="@Url.Action("Form","Document")" class="btn btn-primary">新增</a>