@model IEnumerable<UserIndexViewModel>
@{
    PaginationModel paginationModel = ViewBag.PaginationModel;
}

<h2>使用者列表</h2>

<form asp-action="Index" method="post" class="form-inline mb-3">
    @Html.AntiForgeryToken()
    <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="請輸入使用者名稱或租戶名稱" class="form-control" />
    <input type="hidden" name="pageIndex" value="@paginationModel.PageIndex" />
    <button type="submit" class="btn btn-primary">搜尋</button>
</form>

<a href="@Url.Action("Register", "User", new { id = "" })" class="btn btn-success mb-3">新增</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>編號</th>
            <th>租戶名稱</th>
            <th>使用者名稱</th>
            <th>使用者信箱</th>
            <th>啟用</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.TenantName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@(item.IsEnabled?"是":"否")</td>
                <td>
                    <a href="@Url.Action("Register", "User", new { userId = item.UserId })" class="btn btn-warning">編輯</a>
                    <form method="post" action="@Url.Action("SetEnabled", "User", new { userId = item.UserId })" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" onclick="return confirm('確定刪除嗎？')">@(item.IsEnabled ? "停用" : "啟用")</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Index" method="post">
    <input type="hidden" name="searchString" value="@ViewBag.SearchString" />
    @await Html.PartialAsync("_PaginationPartial", paginationModel)
</form>
